body{
    background-image: url(https://i.ibb.co/s3DmmTK/background.png);
    background-size: 100vw 100vh;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}



/* THE QUIZ TYPE */

#quizType{
    font-family: cursive;
    text-align: center;
    display: block;
}

#headtext{
    background: url('https://i.ibb.co/sKcL7Tj/flags.jpg');
    font-size: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100px 60px;
    color: transparent;
    margin: 0;
} 

#quizType p{
    margin: 0;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Trade Winds', cursive;
} 

#quizType button{
    background-color: #F9A826;
    color: white;
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'Trade Winds', cursive;
    margin: 30px 40px 0 0;
    cursor: pointer;
}

#quizType button:hover{
    border: 2px solid #F9A826;
    background-color: transparent;
}

#buttDiv{
    width: 100%;
}



/* THE COUNTRY TYPE CARD 1*/

#quizCard{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#quizCard h2{
    margin: 0;
    color: white;
}

#quizCard img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#quizCard h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #name1,#questions div #name2,#questions div #name3,#questions div #name4{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questions .parentDiv:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button:last-of-type{
    right: 7%;
    display: none;
}




/* THE COUNTRY TYPE CARD 2*/

#quizCard1{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#quizCard1 h2{
    margin: 0;
    color: white;
}

#quizCard1 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#quizCard1 h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #name11,#questions div #name21,#questions div #name31,#questions div #name41{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questions .parentDiv:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button:last-of-type{
    right: 7%;
    display: none;
}




/* THE COUNTRY TYPE CARD 3*/

#quizCard2{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#quizCard2 h2{
    margin: 0;
    color: white;
}

#quizCard2 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#quizCard2 h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #name12,#questions div #name22,#questions div #name32,#questions div #name42{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questions .parentDiv:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button:last-of-type{
    right: 7%;
    display: none;
}




/* THE COUNTRY TYPE CARD 4*/

#quizCard3{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#quizCard3 h2{
    margin: 0;
    color: white;
}

#quizCard3 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#quizCard3 h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #name13,#questions div #name23,#questions div #name33,#questions div #name43{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questions .parentDiv:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrap button:last-of-type{
    right: 7%;
    display: none;
}



/* RESULT CARD  1*/

#resultCard{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#resultCard h2{
    margin: 0;
    color: white;
}

#resultCard img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#resultCard h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namer1,#questions div #namer2,#questions div #namer3,#questions div #namer4{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
    margin-top: 10px;
}

#questionWrap button:last-of-type{
    left: 7%;
}



/* RESULT CARD  2*/

#resultCard1{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#resultCard1 h2{
    margin: 0;
    color: white;
}

#resultCard1 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#resultCard1 h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namer11,#questions div #namer21,#questions div #namer31,#questions div #namer41{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
    margin-top: 10px;
}

#questionWrap button:last-of-type{
    left: 7%;
}





/* RESULT CARD  3*/

#resultCard2{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#resultCard2 h2{
    margin: 0;
    color: white;
}

#resultCard2 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#resultCard2 h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namer12,#questions div #namer22,#questions div #namer32,#questions div #namer42{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
    margin-top: 10px;
}

#questionWrap button:last-of-type{
    left: 7%;
}





/* RESULT CARD  4*/

#resultCard3{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer;
}

#resultCard3 h2{
    margin: 0;
    color: white;
}

#resultCard3 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#resultCard3 h4{
    margin: 15% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namer13,#questions div #namer23,#questions div #namer33,#questions div #namer43{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#questionWrap button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
    margin-top: 10px;
}

#questionWrap button:last-of-type{
    left: 7%;
}




/* THE BY FLAG TYPE 1*/

#flagCard{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#flagCardH2{
    margin: 0;
    color: white;
}

#adventure{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 50;
}

#questionWrapf{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#flags{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
}

.flagImage{
    width: 100%;
    height: 100%;
}

#flagCardH4{
    margin: 2% 0 5% 20px;
    width: 80%;
    text-align: left;
}

#questionsf{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

.parentDivf #namef1, .parentDivf #namef2, .parentDivf #namef3, .parentDivf #namef4{
    margin-left: 20px;
}

.parentDivf{
    list-style-type: none;
    width: 80%;
    padding: 9px 15px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 15px auto;
}

.parentDivf:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrapf button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}







/* THE BY FLAG TYPE 2*/

#flagCard1{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#flagCardH2{
    margin: 0;
    color: white;
}

#adventure{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 50;
}

#questionWrapf{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#flags{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
}

.flagImage{
    width: 100%;
    height: 100%;
}

#flagCardH4{
    margin: 2% 0 5% 20px;
    width: 80%;
    text-align: left;
}

#questionsf{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

.parentDivf #namef11, .parentDivf #namef21, .parentDivf #namef31, .parentDivf #namef41{
    margin-left: 20px;
}

.parentDivf{
    list-style-type: none;
    width: 80%;
    padding: 9px 15px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 15px auto;
}

.parentDivf:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrapf button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}







/* THE BY FLAG TYPE 3*/

#flagCard2{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#flagCardH2{
    margin: 0;
    color: white;
}

#adventure{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 50;
}

#questionWrapf{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#flags{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
}

.flagImage{
    width: 100%;
    height: 100%;
}

#flagCardH4{
    margin: 2% 0 5% 20px;
    width: 80%;
    text-align: left;
}

#questionsf{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

.parentDivf #namef12, .parentDivf #namef22, .parentDivf #namef32, .parentDivf #namef42{
    margin-left: 20px;
}

.parentDivf{
    list-style-type: none;
    width: 80%;
    padding: 9px 15px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 15px auto;
}

.parentDivf:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrapf button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}







/* THE BY FLAG TYPE 4*/

#flagCard3{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#flagCardH2{
    margin: 0;
    color: white;
}

#adventure{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 50;
}

#questionWrapf{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#flags{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
}

.flagImage{
    width: 100%;
    height: 100%;
}

#flagCardH4{
    margin: 2% 0 5% 20px;
    width: 80%;
    text-align: left;
}

#questionsf{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

.parentDivf #namef13, .parentDivf #namef23, .parentDivf #namef33, .parentDivf #namef43{
    margin-left: 20px;
}

.parentDivf{
    list-style-type: none;
    width: 80%;
    padding: 9px 15px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 15px auto;
}

.parentDivf:hover{
    background-color: #F9A826;
    color: white;
    border:none ;
}

#questionWrapf button{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border:none ;
}






/*FLAG RESULT CARD  1*/

#resultCardf1{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#resultCardf1 h2{
    margin: 0;
    color: white;
}

#resultCardf1 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


#flagsr{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
    position: relative;
}

#flagsr>img{
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
}


#resultCardf1 h4{
    margin: 5% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namefr1,#questions div #namefr2,#questions div #namefr3,#questions div #namefr4{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#buttonDiv{
    width: 100px;
    height: 100px;
    border: 1px solid navy;
}

.nextResult{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border: none;
    margin-top: 10px;
}










/*FLAG RESULT CARD  2*/

#resultCardf2{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#resultCardf2 h2{
    margin: 0;
    color: white;
}

#resultCardf2 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


#flagsr{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
    position: relative;
}

#flagsr>img{
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
}


#resultCardf2 h4{
    margin: 5% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namefr11,#questions div #namefr21,#questions div #namefr31,#questions div #namefr41{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#buttonDiv{
    width: 100px;
    height: 100px;
    border: 1px solid navy;
}

.nextResult{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border: none;
    margin-top: 10px;
}










/*FLAG RESULT CARD  3*/

#resultCardf3{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#resultCardf3 h2{
    margin: 0;
    color: white;
}

#resultCardf3 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


#flagsr{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
    position: relative;
}

#flagsr>img{
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
}


#resultCardf3 h4{
    margin: 5% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namefr12,#questions div #namefr22,#questions div #namefr32,#questions div #namefr42{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#buttonDiv{
    width: 100px;
    height: 100px;
    border: 1px solid navy;
}

.nextResult{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border: none;
    margin-top: 10px;
}










/*FLAG RESULT CARD  4*/

#resultCardf4{
    color: #5256A1;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 450px;
    display: none;
    cursor: pointer;
}

#resultCardf4 h2{
    margin: 0;
    color: white;
}

#resultCardf4 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 10;
}

#questionWrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


#flagsr{
    width: 70px;
    height: 40px;
    box-shadow: 0 0 5px #5256A1;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10% 0 0 20px;
    position: relative;
}

#flagsr>img{
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
}


#resultCardf4 h4{
    margin: 5% 0 5% 7%;
    text-align: left;
}

#questions{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div #namefr13,#questions div #namefr23,#questions div #namefr33,#questions div #namefr43{
    padding: 5px 5px;
    margin-left: 10px;
}

#questions > div{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    text-align: left;
    border: 1px solid #5256A1;
    border-radius: 6px;
    margin: 0 auto 10px auto;
}

#buttonDiv{
    width: 100px;
    height: 100px;
    border: 1px solid navy;
}

.nextResult{
    position: absolute;
    right: 7%;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #F9A826;
    color: white;
    border: none;
    margin-top: 10px;
}





/* REPORT CARD FOR COUNTRY :) */

#doneCard{
    color: #5256A1;
    font-family: sans-serif;
    width: 300px;
    height: 320px;
    display: none;
    cursor: pointer;
}

#doneCard h2{
    margin: 0;  
    color: white;
}

#doneWrap{
    width: 100%;
    height: 85%;
    border-radius: 10px;
    position: relative;
    background-color: white;
    text-align: center;
}

#doneWrap img{
    width: 100px;
    height: 100px;
    z-index: 10;
}

#doneWrap h1{
    margin: 0 0 5px 0;
    text-decoration: underline;
}

#doneWrap p{
    margin: 0;
    font-size: 14px;
}

#doneWrap p span{
    font-size: 22px;
    font-weight: bold;
    color: lime;
}

#doneWrap button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #5256A1;
    border: 1px solid #5256A1;
    border-radius: 5px;
    padding: 7px 25px;
}

#doneWrap button:hover{
    background-color: #5256A1;
    color: white;
    border: none;
}


/* REPORT CARD FOR FLAG:) */

#doneCardf{
    color: #5256A1;
    font-family: sans-serif;
    width: 300px;
    height: 320px;
    display: none;
    cursor: pointer;
}

#doneCardf h2{
    margin: 0;  
    color: white;
}

#doneWrapf{
    width: 100%;
    height: 85%;
    border-radius: 10px;
    position: relative;
    background-color: white;
    text-align: center;
}

#doneWrapf img{
    width: 100px;
    height: 100px;
    z-index: 10;
}

#doneWrapf h1{
    margin: 0 0 5px 0;
    text-decoration: underline;
}

#doneWrapf p{
    margin: 0;
    font-size: 14px;
}

#doneWrapf p span{
    font-size: 22px;
    font-weight: bold;
    color: lime;
}

#doneWrapf button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #5256A1;
    border: 1px solid #5256A1;
    border-radius: 5px;
    padding: 7px 25px;
}

#doneWrapf button:hover{
    background-color: #5256A1;
    color: white;
    border: none;
}






@media (max-width: 600px) {
    
#quizType{
    font-family: cursive;
    text-align: center;
    display: block;
}


#quizType p{
    font-size: 30px;
} 

#quizType button{
    width: 160px;
    font-weight: bold;
    margin: 30px 40px 0 0;
}

#buttDiv{
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    padding: 0 2%;
    box-sizing: border-box;
}

}
